.collections {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  border-radius: 32px;
  position: relative;
}

.collections__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: #fff;
  z-index: 1;
  padding: 114px 0px 60px;
}

.collections__collection {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.collections__collection__title {
  font-size: 55px;
  text-shadow: 5px 5px 5px #000;
  text-align: center;
}

@media (max-width: 768px) {
  .collections__collection__title {
    font-size: 45px;
  }
}